name: CI Check
on:
  pull_request:
  push:
    branches:
      - main

jobs:
  build:
    if: github.event.pull_request.draft == false
    name: Build
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - feature: default
          - feature: asm
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
      - name: Build
        uses: actions-rs/cargo@v1
        with:
          command: build
          args: --features ${{ matrix.feature }}

  test:
    if: github.event.pull_request.draft == false
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - feature: default
          - feature: asm
    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
      - name: Test
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --verbose --release --all --features ${{ matrix.feature }}

  fmt:
    if: github.event.pull_request.draft == false
    name: Rustfmt
    timeout-minutes: 30
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
      - run: rustup component add rustfmt
      - uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: --all -- --check

  clippy:
    if: github.event.pull_request.draft == false

    name: Clippy lint checks
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
        with:
          components: clippy
      - name: Run clippy
        uses: actions-rs/cargo@v1
        with:
          command: clippy
          args: --verbose --release --tests --all-features

  bench:
    if: github.event.pull_request.draft == false
    name: Bench
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: actions-rs/toolchain@v1
      - name: Bench arithmetic
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --profile bench test_field -- --nocapture
      - name: Bench assembly arithmetic
        uses: actions-rs/cargo@v1
        with:
          command: test
          args: --profile bench test_field --features asm -- --nocapture
